.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* height: 100vh; */
}

#sign-up-form, #login-form, #admin-signup-form, #admin-login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.role-container {
    display: flex;
    gap: 20px;
}

.role-button {
    padding: 10px 20px;
    /* background-color: #007bff; */
    /* color: white; */
    border: none;
    border-radius: 5px;
}

.role-button:hover {
    background-color: #0056b3;
    color: white;
    cursor: pointer;

}


#login-container, #sign-up-container, #admin-login-container, #admin-signup-container {
    display: none; /* Initially hidden */
}

/* main home page styling */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* ensures it stays above other elements */
    background-color: #f8f9fa; /* Light background for header */
    padding: 0px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

}

main {
    width: 100%;
}

header > nav {
    width: 30%;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    list-style: none;
}

.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home-container > aside {
    width: 20%;
    background-color: green;
}

.home-container > section {
    width: 60%;
    background-color: yellow;
}

.home-container > section + aside {
    width: 20%;
    background-color: red;
}


